<footer>

    <div class="footer-container">
    <div class="footer-heading">
       <h2>WECONNECT</h2>
    </div>

    <ul class="list-item">

        <h3 class="list-heading">Pages</h3>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/users/profile">Profile</a>
        </li>
        <li>
            <a href="/users/sign-in">Sign In</a>
        </li>
        <li>
            <a href="/users/sign-up">Sign Up</a>
        </li>
        <li>
            <a href="/users/profile">Friend</a>
        </li>

    </ul>
    </div>
</footer>