<footer>
   
     <div id="particles-js"></div>
    <div class="footer-container">
        
        
    <div class="footer-heading">
       <h2>WECONNECT EXPRESS</h2>
    </div>
    <div>
    <ul class="list-item">

        <h3 class="list-heading">Pages</h3>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/users/profile">Friend</a>
        </li>
        
        <li>
            <a href="/users/sign-in">Sign In</a>
        </li>
        <li>
            <a href="/users/sign-up">Sign Up</a>
        </li>
        
        <li>
            <a href="/users/profile">MyProfile</a>
        </li>

    </ul>
    </div>
   
    </div>
    <div class="copyright">
        <h4 class="copy">
            | Copyright &#x00A9;2020 All right reserved  Made By | <br> | Ayush Gupta |
        </h4>

    </div>
  
    
    
</footer>
   

<script type="text/javascript" src="/js/particles.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>  
