
<link rel="stylesheet" href="/css/chatting_engine.css">
<% if(locals.user){ %>
<div id="user-chatbox" class="container bg-light d-none" >
    <div class="row text dark d-flex justify-content-between align-items-center">
        <div class="col-8 pt-3 text-capitalize">
            <%= locals.user.name %>
        </div>
        <div class="col-1 pt-4 mr-3">
            <div id="is_online"></div>
        </div>
    </div>
    <hr>
    <div class="row messages-container">
        <ul id="message-list">

        </ul>
    </div>



<div class="row new-message bg-white">
    <form class="form-inline ml-2 mr-2 d-flex justify-content-between align-items-center">
        <div class="form-group">
            <input type="text" class="form-control-plaintext" id="message" placeholder = "New message">
        </div>

        <div class="form-group">
            <button type="submit" id="send-message" class="btn btn-list"><i class="fas fa-paper-plane"></i></button>
        </div>
    </form>
</div>
</div>
<% } %>