<h3>
     WeConnect / <%= titleName %>
 </h3>

 <section id="feed-post">
     <h4>
         Post
     </h4>
     <form action="" id="new-post-form" method="POST">
         <textarea name="content" id="new-post-content" cols="30" rows="3" placeholder="Type Here...."></textarea>
         <input type="submit" value="Post">
     </form>
 </section>


 