<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= titleName %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>

    <!-- Noty min css -->
    <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!-- link for css style layout -->

    <link rel="stylesheet" href="/css/layout.css" />
    
    <link rel="stylesheet" href="/css/footer.css" />
    
    

    <%- style %>
  </head>
  <body>

    <%- include('_header'); %>

   

    <main id="layout-main">
      <%- body -%>
    </main>

    <%- include('_footer'); %> 

    <%- script %>
<!-- NOTY -->
    <script>
       <% if(flash.success && flash.success.length > 0){ %>
        new Noty({
          theme: 'metroui',
          text: '<%= flash.success %>',
          type: 'success',
          layout: 'topRight',
          timeout: 3000,
     
}).show();
      <% } %>

       <% if(flash.error && flash.error.length > 0){ %>
        new Noty({
          theme: 'metroui',
          text: '<%= flash.error %>',
          type: 'error',
          layout: 'topRight',
          timeout: 3000
}).show();
      <% } %>

    </script>
  </body>
</html>
