


<div class="container">
    
    <h2 class="form-heading">Sign In</h2>

    <div class="form-container">
    <form action="/users/create-Session" method="POST">
        <div id="emaail-input">
             <i class="fas fa-envelope-open-text icon"></i><input type="email" name="email" placeholder="Email" size="30" required>

        </div>
         
        <div id="pass-input">
                <i class="fas fa-unlock-alt icon"></i><input type="password" name="password" size="30" placeholder="Password" required>

        </div>
          

    <div class="submit-btn">
        <!-- <input type="submit" value="Sign In">  -->
        <button type="submit">Sign In</button>
    </div>

    <div class="extra">
        <p>Don't Have an Account?<a class="create" href="/users/sign-up">Create</a></p>

    </div>

    
               
    
    </form>
    </div>

</div>


