

<div class="container">
    <h2>Sign Up</h2>
    <form action="/users/create" method="POST">

    <span><i class="fas fa-user-circle"></i></span> </i><input type="text" name="name" placeholder="Your Name" required>

    <i class="fas fa-envelope-open-text"></i></i><input type="email" name="email" placeholder="Your Email" required> 

    <i class="fas fa-unlock-alt"></i><input type="password" name="password" placeholder="Password" required> 

    <i class="fas fa-user-lock"></i><input type="password" name="confirm_password" placeholder="Confirm Password" required>

    <input type="submit" value="Sign Up">







    </form>
</div>