<div style="background-color: rgb(109, 235, 193);">
    <h2>Your Post:</h2>
    <strong><%= post.content%></strong>
    <p><b>Is uploaded to WeConnect Express</b></p>
    <p><b>Thank you for using our Services</b></p>
    <h1>| WeConnect Express |</h1>
</div>