.dropdown {
    .dropdown-menu {
        background-color: black;
        ;
    }

    a:hover {
        color: blue;
    }
    a{
        color: red;
    }
}


.action-buttons{
    margin-top: -10px;
}