.navbar{
    background-color: black!important;
    // height: 52px;

    .navbar-brand{
        letter-spacing: 4px!important;
        font-weight: 700;
        font-size: 22px;
       background-color: #42378f;
     background-color: #663dff;
     background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .navbar-nav .nav-item .nav-link img{
        margin-top: -5px;
        height: 34px!important;
        width: 38px!important;
    }
    
}

@media screen and (max-width:768px){
    .navbar-nav .nav-item .nav-link {
        width: 90px;
        height: 40px;
        font-weight: 500;
        margin-top: 6px;
    }

}