.navbar{
    background-color: black!important;

    .navbar-brand{
        letter-spacing: 8px!important;
        font-weight: 500;
       
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }
}