body,html{
    margin: 0;
    padding: 0;
    overflow: scroll;

body::-webkit-scrollbar {
    display: none;
}
section{
    width: 50vw;
    top: 20px;
    min-height: 100vh;
    left: 0;
    right: 4%;
    position: relative;
    margin: auto;

}

    #post-button {
        margin-top: -10px;

    }

    .card {
        margin-top: 7.5%;
        margin-bottom: -5%;
        min-height: 40vh;

    }

    .card .container {
        margin-left: -4%;
    }

    .card .card-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .card .container a {
        padding: 0 10px;
    }

    .card .container i {
        font-size: 20px;
    }

    .card {
        box-shadow: 0 8px 10px 3px lightgrey;
        border: 1px solid rgb(233, 233, 233);
        border-radius: 0px;
        transition: all ease-in-out .8s;
    }

    .card:hover {
        box-shadow: 0 0 0 0;
    }


}