footer {
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 20px; }
  footer .footer-container {
    display: flex;
    margin: 0 20px; }
  footer .footer-heading h2 {
    margin-top: 45px;
    color: white;
    font-size: 30px;
    letter-spacing: 6px; }
  footer .list-item {
    padding: 0 25px;
    margin-top: 5px; }
  footer ul li {
    list-style-type: none; }
  footer .list-heading {
    color: white; }
  footer .list-item li a {
    color: #fff700;
    transition: all ease-in-out 0.1s;
    text-decoration: none; }
  footer .list-item li a:hover {
    color: #ffd000; }
