h3>Following is the link to reset password. Please do not share it with anyone.</h3>
<p>http://localhost:8000/reset_password/reset/?access_token=<%=token.acess_token%></p>
<br>
<p>Kindly click on the above link to change your password</p>